// Color main background
$bg: #edf3f7;

// Color text (темный)
$color_text_1: #475c70;
// Color text (светлый)
$color_text_2: #8694a1;

// Color gradient button (go)
$color_gradient_go_1: #1ac4a9;
$color_gradient_go_2: #8e8cd8;
