@import url("https://fonts.googleapis.com/css?family=Roboto:100,300&subset=cyrillic");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-family: 'Roboto', sans-serif; }

article, aside, figure, footer, header, main, nav, section {
  display: block; }

h1 {
  text-align: center;
  font-size: 120%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #475c70; }

h2 {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #475c70; }

h3 {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #8694a1; }

output {
  color: #5cb560; }

.clear {
  clear: both; }

#main {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #edf3f7;
  background-image: -ms-radial-gradient(ellipse closest-side at center, #FFFFFF 0%, rgba(225, 225, 225, 0.4) 100%);
  background-image: -moz-radial-gradient(ellipse closest-side at center, #FFFFFF 0%, rgba(225, 225, 225, 0.4) 100%);
  background-image: -o-radial-gradient(ellipse closest-side at center, #FFFFFF 0%, rgba(225, 225, 225, 0.4) 100%);
  background-image: -webkit-radial-gradient(ellipse closest-side at center, #FFFFFF 0%, rgba(225, 225, 225, 0.4) 100%);
  background-image: radial-gradient(ellipse closest-side at center, #FFFFFF 0%, rgba(225, 225, 225, 0.4) 100%); }

.main_header {
  width: 100%;
  height: 60px;
  padding: 13px 20px;
  background: #fff;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1); }

.header_nav {
  float: left;
  max-width: 400px;
  line-height: 34px; }

.header_nav ul li {
  margin: 0 10px;
  list-style: none;
  float: left; }

.header_nav ul li a {
  font-weight: 300;
  font-size: 100%;
  color: #475c70;
  text-decoration: none; }

.header_nav ul li a:hover {
  opacity: .8; }

.header_menu_button {
  display: none;
  float: left;
  width: 34px;
  height: 34px;
  background: url(../img/arrow_left.svg) center no-repeat;
  background-size: 20px; }

.logo {
  position: absolute;
  left: calc(50% - 34px / 2);
  width: 34px;
  height: 34px;
  background: url(../img/logo_login.svg); }

.header_profile {
  float: right;
  max-width: 250px;
  height: 34px; }

.header_profile p {
  max-width: 80px;
  overflow: hidden;
  float: right;
  line-height: 34px;
  color: #475c70;
  margin-right: 10px; }

.header_profile_ico {
  float: right;
  border-radius: 100%;
  width: 34px;
  height: 34px;
  background: red;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

.header_profile_ico span {
  display: block;
  text-align: center;
  line-height: 34px;
  color: #fff;
  text-transform: capitalize; }

@keyframes unVis {
  0% {
    box-shadow: inset 0 0 1px 17px rgba(225, 225, 225, 0.5); }
  50% {
    box-shadow: inset 0 0 0 rgba(225, 225, 225, 0.5); }
  100% {
    box-shadow: inset 0 0 1px 17px rgba(225, 225, 225, 0.5); } }
.header_profile_nav {
  z-index: 9999;
  position: absolute;
  right: 0;
  top: 60px;
  width: 250px;
  box-shadow: 0 0 50px 1px rgba(0, 0, 0, 0.1); }

.header_profile_balans {
  width: 250px;
  height: 60px;
  background: #4cd964; }

.header_profile_emotions {
  float: left;
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.1); }

.header_profile_emotions p {
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 150%; }

.header_profile_balans_info {
  float: left;
  width: 190px;
  height: 60px; }

.header_profile_balans_info p {
  padding: 10px 20px;
  font-size: 100%;
  color: #fff; }

.header_profile_nav ul li {
  list-style: none;
  background: #fff; }

.header_profile_nav ul li a {
  display: block;
  width: 250px;
  line-height: 40px;
  padding-left: 30px;
  text-decoration: none;
  font-size: 100%;
  color: #475c70; }

input[name="exit"] {
  display: block;
  width: 250px;
  text-align: left;
  border: none;
  background: #fff;
  line-height: 40px;
  padding-left: 30px;
  text-decoration: none;
  color: #475c70;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  cursor: pointer; }

input[name="exit"]:hover {
  background: -webkit-linear-gradient(left, #1ac4a9, #8e8cd8);
  background: linear-gradient(90deg, #1ac4a9, #8e8cd8);
  color: #fff; }

.header_profile_nav ul li a:hover {
  background: -webkit-linear-gradient(left, #1ac4a9, #8e8cd8);
  background: linear-gradient(90deg, #1ac4a9, #8e8cd8);
  color: #fff; }

@media screen and (max-width: 600px) {
  .header_nav {
    display: none; }

  .header_menu_button {
    display: block; } }
.main_nav {
  margin: 35px auto 60px auto;
  width: 340px;
  height: 30px; }

.main_nav ul li {
  float: left;
  list-style: none;
  background: #eaeef2;
  line-height: 30px;
  margin: 0 10px;
  border-radius: 15px; }

.main_nav ul li a {
  text-decoration: none;
  color: #475c70;
  font-size: 100%;
  padding: 0 20px; }

.main_nav ul li a:hover {
  opacity: .7; }

.content {
  margin: 0 auto;
  max-width: 800px; }

.main_info_game {
  margin: 0 auto;
  max-width: 500px; }

.main_info_game ul li {
  float: left;
  width: 33.3%;
  list-style: none; }

.main_info_game ul li p {
  text-align: center;
  font-weight: 300;
  font-size: 100%;
  color: #475c70; }

.go {
  margin: 60px auto;
  width: 250px;
  height: 60px; }

.go input {
  width: 250px;
  height: 60px;
  background: -webkit-linear-gradient(90deg, #1ac4a9, #8e8cd8);
  background: linear-gradient(90deg, #1ac4a9, #8e8cd8);
  border-radius: 30px;
  border: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 100%;
  letter-spacing: 5px;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  background-size: 100%;
  transition: background .5s; }

.go input:hover {
  background-size: 200%;
  transition: background .5s; }

@keyframes game_go {
  0% {
    box-shadow: 0 0 75px 1px #8e8cd8; }
  50% {
    box-shadow: 0 0 150px 1px #8e8cd8; }
  100% {
    box-shadow: 0 0 75px 1px #8e8cd8; } }
.players {
  margin: 0 auto; }

.players ul li {
  margin: 0 10px;
  float: left;
  list-style: none;
  border-radius: 100%;
  text-align: center;
  z-index: 9999; }

.players ul li a {
  font-weight: 100;
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
  font-size: 200%; }

@media screen and (max-width: 599px) {
  .players {
    width: 450px; }

  .players ul li {
    width: 70px;
    height: 70px; }

  .players ul li a {
    line-height: 70px; } }
.logs {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  opacity: .6; }

.logs ul li {
  list-style: none;
  color: #475c70; }

.logs ul li a {
  text-decoration: none;
  color: #8694a1; }

@media screen and (min-width: 600px) and (max-width: 699px) {
  .players {
    width: 600px; }

  .players ul li {
    width: 100px;
    height: 100px; }

  .players ul li a {
    line-height: 100px; } }
@media screen and (min-width: 700px) {
  .players {
    width: 700px; }

  .players ul li {
    width: 120px;
    height: 120px; }

  .players ul li a {
    line-height: 120px; } }
.cp_table {
  margin-top: 35px;
  width: 100%;
  font-size: 100%; }

.cp_table tr {
  height: 30px; }

.cp_table td {
  width: 33.3%; }

.cp_history_date {
  color: #8694a1;
  text-align: right; }

.cp_history_type {
  color: #475c70;
  text-align: center; }

.cp_history_winner {
  color: #475c70;
  text-align: left; }

.addmoney {
  margin: 50px auto 0 auto;
  width: 255px; }

.add_input_text {
  background: #e5e8eb;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 18px 0 0 18px;
  box-shadow: 0 0 30px 0 rgba(71, 92, 112, 0.15);
  font-size: 100%;
  font-weight: 100;
  color: #475c70;
  font-family: 'Roboto', sans-serif;
  padding-left: 15px; }

.add_input_submit {
  width: 55px;
  height: 50px;
  border: none;
  background: #5cb560;
  border-radius: 0 18px 18px 0;
  box-shadow: 0 0 15px 0 #5cb560;
  font-size: 100%;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  transition: all .5s; }

.add_input_submit:hover {
  cursor: pointer;
  transition: all .5s;
  box-shadow: 0 0 30px 0 #5cb560; }

::-webkit-input-placeholder {
  color: #475c70; }

::-moz-placeholder {
  color: #475c70; }

/* Firefox 19+ */
:-moz-placeholder {
  color: #475c70; }

/* Firefox 18- */
:-ms-input-placeholder {
  color: #475c70; }

.issue_faq {
  text-align: center;
  margin-top: 200px; }

.issue_faq a {
  color: #475c70; }

.outputmoney {
  margin: 50px auto 0 auto;
  width: 255px; }

.out_input_text1 {
  margin-bottom: 20px;
  background: #e5e8eb;
  width: 255px;
  height: 50px;
  border: none;
  border-radius: 18px;
  box-shadow: 0 0 30px 0 rgba(71, 92, 112, 0.15);
  font-size: 100%;
  font-weight: 100;
  color: #475c70;
  font-family: 'Roboto', sans-serif;
  padding-left: 15px; }

.out_input_text {
  background: #e5e8eb;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 18px 0 0 18px;
  box-shadow: 0 0 30px 0 rgba(71, 92, 112, 0.15);
  font-size: 100%;
  font-weight: 100;
  color: #475c70;
  font-family: 'Roboto', sans-serif;
  padding-left: 15px; }

.out_input_submit {
  width: 55px;
  height: 50px;
  border: none;
  background: #5cb560;
  border-radius: 0 15px 15px 0;
  box-shadow: 0 0 15px 0 #5cb560;
  font-size: 100%;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  transition: all .5s; }

.out_input_submit:hover {
  cursor: pointer;
  transition: all .5s;
  box-shadow: 0 0 30px 0 #5cb560; }

.out_history {
  margin: 0 auto;
  max-width: 800px; }

.out_table {
  margin-top: 20px;
  width: 100%;
  font-size: 100%; }

.out_table tr {
  height: 30px; }

.out_table th {
  width: 33.3%; }

.out_table td {
  width: 33.3%; }

.out_history_date {
  color: #8694a1;
  text-align: right; }

th.out_history_date {
  color: #475c70;
  text-align: right; }

.out_history_type {
  color: #475c70;
  text-align: center; }

.out_history_winner {
  color: #475c70;
  text-align: left; }

.slideout-menu {
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  -webkit-overflow-scrolling: touch;
  display: none; }

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform; }

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open .slideout-menu {
  display: block; }

.main_menu {
  position: absolute;
  width: 256px;
  height: 60px; }

.main_menu p {
  text-align: center;
  line-height: 60px;
  color: #475c70; }

.main_menu ul li {
  list-style: none;
  background: #fff; }

.main_menu ul li a {
  display: block;
  width: 256px;
  line-height: 40px;
  padding-left: 30px;
  text-decoration: none;
  color: #475c70; }

.main_menu ul li a:hover {
  background: -webkit-linear-gradient(left, #1ac4a9, #8e8cd8);
  background: linear-gradient(90deg, #1ac4a9, #8e8cd8);
  color: #fff; }
